* {
  margin: 0;
  padding: 0;
}

/* shop css */
.pagination .page-link {
  color: rgb(36, 166, 170);
}
.gmbr {
  width: 350px;
  height: 250px;
}

.ad1 {
  background-image: url("../components/img/CB.jpg");
  background-size: cover;
  height: 270px;
  padding: 50px 0px 0px 50px;
  text-align: left;
  color: rgba(165, 42, 42, 0.849);
}

.ad2 {
  background-image: url("../components/img/MK.jpg");
  background-size: cover;
  height: 270px;
  padding: 50px 0px 0px 50px;
  text-align: left;
}

.Qst {
  background-color: rgba(255, 235, 205, 0.719);
  padding: 50px;
}

.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before {
  border-color: #d19c97;
  background-color: #d19c97;
}
/* #price-all,
#color-all,
#size-all {
  background-color: rgb(36, 166, 170);
  border-color: rgb(36, 166, 170);
} */

/* product css */
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
