/* blog css */
.label {
  /* margin: 25px 185px 0px 0px;
  padding: 5px 5px 5px 10px; */
  background-color: white;
  opacity: 65%;
  font-size: 15px;
}

.img {
  /* background-image: url("../../components/img/cove.jpg"); */
  background-size: cover;
  height: 200px;
}
.kotak {
  height: 400px;
  overflow: scroll;
}
