* {
  margin: 0;
  padding: 0;
}

.all, .iqon {
  font-size: 18px;
}

 /* {
  font-size: 17px;
} */

.back-to-top,
.sbnw {
  background-color: rgb(145, 210, 212);
}

.icon,
.link {
  color: rgb(145, 210, 212);
}

.crsl {
  background-color: rgb(5, 104, 107);
}

#header-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.categories {
  color: white;
}

.back-to-top {
  position: fixed;
  /* display: none; */
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid,
  .navbar-expand-md > .container-sm,
  .navbar-expand-md > .container-md,
  .navbar-expand-md > .container-lg,
  .navbar-expand-md > .container-xl {
    flex-wrap: nowrap;
  }

  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }

  .ikon {
    text-align: center;
  }
}
